
<div class="profile-image"> <!-- ?? -->
</div>

<h3><%= @profile.name %></h3>

  <p><%= @profile.bio %></p>



<% if @profile.user.id == current_user.id %>
  <%= render "form", profile: @profile %>
<% end %>


<!-- to make edit appear fully appear on top of each field same spot as on
the normal profile show the show needs to be built with the form in mind, every
element like profile.name needs to be replacable by the form input field -->
