// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #fff;
$light-gray: #F4F4F4;

// Main
$Brand-color: #00653B;
$Brand-800: #0B9A61;
$Brand-500: #13D473;
$Sec-800: #CB8853;
$Sec-color: #EDC47C;
$Sec-500: #FFCEA8;
$Back-color: #FFF5ED;
$Block-color: #070707;

// Color
$Error: #FD7677;
$Approve: #13D473;
$Text: #0B3520;

// Grey Scale
$gray-900: #333333;
$gray-800: #4F4F4F;
$gray-700: #828282;
$gray-500: #BDBDBD;
$gray-400: #E0E0E0;
$gray-200: #ECEDEE;
$gray-100: #F2F2F2;


.text.color{
  color: $Text;
}

.gray-800{
  color: $gray-800;
}
