.div-container-col {
  background-color: #FFF5ED;
  width: 800px;
  height: 40px;
  border: 1px;
  padding: 10xp;
 }

.form-check-input:checked {
  background-color: #CB8853;

}

.form-check-input-boolean {
  background-color: #BDBDBD;
  border-color: #BDBDBD ;
}

.survey-btn {
gap: 0px;
border: 5px 5px 0px 0px;
background-color: #00653B;
}

.form-check-input.is-valid:checked {
  background-color: #CB8853 !important;
  border: none;
}

.form-switch .form-check-input {
  margin-left: -1.5em!important;
  border: none;
}

.form-switch {
  margin-right: 12px;
  padding-left: 0px !important;

  fieldset {
    margin-bottom: 0px !important;
  }
}

.label-survey {
  width: 100%;
  padding-left: 12px;
}

.range-container {
  width: 330px;
  margin: 20px auto;
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-range {
  width: 100%;
  margin-bottom: 10px;
  appearance: none;
  height: 10px;
  background: #CB8853;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

.form-range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #00653B;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00653b;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.form-range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #00653b;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.range-labels{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.range-labels {
  font-size: 14px;
  color: #0a0a0a;
}

.activity-container {
  width: 100%; // Adjust width as needed
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.label-activity {
  margin-right: 20px; // Space between the label and radio buttons
  font-size: 16px;
  font-weight: bold;
}

.form-radio-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; // Take the remaining width
}

.label-active, .label-sedentary {
  display: flex;
  align-items: center;
}

.label-active label, .label-sedentary label {
  margin-left: 5px; // Space between the radio button and its label
}
