.div-container-col {
  background-color: #FFF5ED;
  width: 800px;
  height: 40px;
  border: 1px;
  padding: 10xp;
 }

.form-check-input:checked {
  background-color: #CB8853;

}

.form-check-input-boolean {
  background-color: #BDBDBD;
  border-color: #BDBDBD ;
}

.survey-btn {
gap: 0px;
border: 5px 5px 0px 0px;
background-color: #00653B;
}

.form-switch .form-check-input {
  margin-left: -1.5em!important;
}

.form-switch {
  margin-right: 12px;
  padding-left: 0px!important;
}

.label-survey {
  width: 100%;
  padding-left: 12px;
}
