<div>
  <% if current_user.profile.profile_picture.present? %>
    <%=  cl_image_tag(current_user.profile.profile_picture.key, transformation: { width: 40, crop: :fill , border: "3px_solid_rgb:00390b", radius: 50}, :class => "avatar-profile" ) %>
  <% else %>
    <%= svg_icon('avatar', class: 'avatar-profile') %> <!-- ?? -->
  <% end %>
</div>
