<footer class="footer">
  <div class="footer-icon">
    <%= link_to svg_icon('Home', class: 'icon'), root_path %>
  </div>
  <div class="footer-icon">
    <%= link_to svg_icon('Note-add', class: 'icon'), root_path %>
  </div>
  <div class="footer-icon">
    <%= link_to svg_icon('Saved', class: 'icon'), root_path %>
  </div>
  <div class="footer-icon">
    <%= link_to svg_icon('User-scan', class: 'icon'), root_path %>
  </div>
</footer>
