<footer class="message-footer">
  <div class="message-input-container">
    <input type="text" placeholder="Type a message ..." class="message-input">
    <button class="send-button">
      <%= svg_icon('Send', class: 'icon') %>
    </button>
  </div>
</footer>
