<% results&.each do |post| %>
  <div class="result-item">
    <div class="result-item-img">IMG</div>
    <div>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= truncate(post.content, length: 40) %></p>
    </div>
  </div>
<% end %>
