
<% results&.each do |profile| %>
  <%= link_to profile_path(profile), class: "result-item", data: {turbo_frame: "_top"} do %>
    <div class="profile-info">
      <h3><%= profile.name %></h3>
      <p><%= truncate(profile.bio, length: 100) %></p>
    </div>
  <% end %>
<% end %>
