<div>
  <% if post.user.profile.profile_picture.present? %>
    <%=  cl_image_tag(post.user.profile.profile_picture.key, class: 'avatar' ) %>
  <% else %>
    <%= svg_icon('avatar', class: 'avatar') %> <!-- ?? -->
  <% end %>
</div>
