<% unless request.env['PATH_INFO'].match(%r{^/posts/\d+$}) %>
  <div class="post-gallery">
    <%= render "post_image", post: post, index: index %>
  </div>
<% else %>
    <div class="post-gallery">
      <%= render "post_image", post: post, index: index %>
    </div>
<% end %>
