<%= link_to profile_path(post.user.profile.id), class: "card-profile flex-row justify-content-between align-items-center" do %>
  <div class="profile-pic">
    <%= render "avatar", post: post %>
  </div>
    <p> <%= post.user.profile.name.nil? ? "" : post.user.profile.name.capitalize%> </p>
<% end %>
