.submit-button {
  width: fill;
  height: 48px;
  border-radius: 50px;
  border: 2px solid $Brand-color;
  gap: 10px;
  color: #00653B;
  background-color: #EDC47C;
}
.content-container {
  margin-bottom: 250px;
}

.signup-button {
  width: fill;
  height: 48px;
  border-radius: 50px;
  border: 2px solid $Brand-color;
  gap: 10px;
  color: #00653B;
  background-color: #EDC47C;
}

.content-container {
  margin-bottom: 250px;
}


.pri-btn {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  height: 48px;
  width: fill;
  border-radius: 50px;
  color: white;
  background-color: $Brand-color;
  text-decoration: none;
}

.sec-btn{
  text-align: center;
  font-weight: 400;
  font-style: normal;
  height: 48px;
  width: fill;
  border-radius: 50px;
  border: 2px solid $Brand-color;
  color: $Brand-color;
  background-color: transparent;
  text-decoration: none;
}


